Repository henriq4/henriquegc.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix --cache"
  ],
  "*.{json,yml,yaml}": [
    "pnpm prettier --write"
  ]
}

feat(tsconfig): creating astro tsconfig
  packages/tsconfig/astro.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
Due: pnpm prettier --write

feat(blog): update astro tsconfig
  apps/blog/astro.config.ts
  apps/blog/tsconfig.json
Due: eslint --fix --cache, pnpm prettier --write

chore(blog): cleaning astro new app
  apps/blog/public/placeholder-about.jpg
  apps/blog/public/placeholder-social.jpg
  apps/blog/src/components/BaseHead.astro
  apps/blog/src/components/Footer.astro
  apps/blog/src/components/Header.astro
  apps/blog/src/consts.ts
  apps/blog/src/content/blog/first-post.md
  apps/blog/src/content/blog/second-post.md
  apps/blog/src/content/blog/third-post.md
  apps/blog/src/content/config.ts
  apps/blog/src/pages/[...slug].astro
  apps/blog/src/pages/about.md
  apps/blog/src/pages/blog/index.astro
  apps/blog/src/pages/index.astro
  apps/blog/src/pages/rss.xml.js
Due: eslint --fix --cache

chore: remove blog app
  apps/blog/.gitignore
  apps/blog/.vscode/extensions.json
  apps/blog/.vscode/launch.json
  apps/blog/README.md
  apps/blog/astro.config.ts
  apps/blog/package.json
  apps/blog/public/favicon.svg
  apps/blog/public/placeholder-hero.jpg
  apps/blog/src/components/BaseHead.astro
  apps/blog/src/components/Footer.astro
  apps/blog/src/components/Header.astro
  apps/blog/src/components/HeaderLink.astro
  apps/blog/src/consts.ts
  apps/blog/src/content/blog/markdown-style-guide.md
  apps/blog/src/content/blog/using-mdx.mdx
  apps/blog/src/content/config.ts
  apps/blog/src/env.d.ts
  apps/blog/src/layouts/BlogPost.astro
  apps/blog/src/pages/[...slug].astro
  apps/blog/src/pages/index.astro
  apps/blog/src/pages/rss.xml.js
  apps/blog/src/styles/global.css
  apps/blog/tsconfig.json
Due: eslint --fix --cache, pnpm prettier --write

refactor: initial commit - planning to make all from scratch
  .eslintrc
  .eslintrc.json
  .gitignore
  .npmrc
  .prettierignore
  .prettierrc
  .tool-versions
  LICENSE
  README.md
  apps/portfolio/.vscode/settings.json
  apps/portfolio/README.md
  apps/portfolio/next-env.d.ts
  apps/portfolio/next.config.js
  apps/portfolio/package.json
  apps/portfolio/src/app/head.tsx
  apps/portfolio/src/app/layout.tsx
  apps/portfolio/src/app/page.tsx
  apps/portfolio/src/lib/styles/global.css
  apps/portfolio/tailwind.config.js
  apps/portfolio/tsconfig.json
  next.config.js
  package.json
  packages/tsconfig/README.md
  packages/tsconfig/astro.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.js
  public/next.svg
  public/vercel.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.ts
  tsconfig.json
  turbo.json
Due: eslint --fix --cache, pnpm prettier --write

feat: initial portfolio - credits to @gelzin
  public/brand/h-black.svg
  public/brand/h-white.svg
  public/next.svg
  public/vercel.svg
  src/app/Logo.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/styles/globals.css
Due: eslint --fix --cache

feat: initial astro and tailwind setup
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  src/components/Card.astro
  src/content/projects/test.md
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/projects/[...slug].astro
  tailwind.config.mjs
  tsconfig.json
Due: eslint --fix --cache, pnpm prettier --write

feat: create blog components
  src/components/Blog/BlogSection.astro
  src/components/Blog/BlogSectionCard.astro
Due: none

feat: create projects components
  src/components/Projects/ProjectSection.astro
  src/components/Projects/ProjectSectionCard.astro
  src/content/projects/spmp.md
  src/pages/projects/[...slug].astro
Due: none

feat: adding alpine
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

feat: 404 error page
  src/pages/404.astro
Due: none

feat: base screen
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: none

chore: adding public image
  public/me.jpg
Due: none

chore: config alpine, tailwind and tsconfig
  astro.config.mjs
  src/env.d.ts
  tailwind.config.mjs
  tsconfig.json
Due: eslint --fix --cache, pnpm prettier --write

chore: add icons lib
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: custom tailwind - add font and color
  tailwind.config.mjs
Due: none

feat: about screen
  src/components/About.astro
  src/pages/about.astro
Due: none

feat: blog section
  src/components/Blog/BlogSection.astro
  src/components/Blog/BlogSectionCard.astro
Due: none

feat: project section
  src/components/Projects/ProjectSection.astro
  src/components/Projects/ProjectSectionCard.astro
  src/pages/projects.astro
Due: none

feat: hero section
  src/components/Hero.astro
Due: none

chore: adding under construction
  src/components/Utils/UnderConstruction.astro
  src/pages/blog.astro
Due: none

chore: adding href links
  src/components/Header.astro
Due: none

fix: removing useless navbar import
  src/layouts/Layout.astro
Due: none

fix: remove footer from main section
  src/pages/index.astro
Due: none

chore: tmp project
  src/content/projects/spmp.md
  src/pages/projects/[...slug].astro
Due: none

chore: tmp posts
  src/content/posts/test.md
  src/pages/posts/[...slug].astro
Due: none

fix: astro build
  astro.config.mjs
  src/content/posts/test.md
  src/pages/posts/[...slug].astro
Due: none

chore: minor ui changes in blog and project section
  src/components/Blog/BlogSection.astro
  src/components/Hero.astro
  src/components/Projects/ProjectSection.astro
  src/components/Projects/ProjectSectionCard.astro
  src/pages/projects/[...slug].astro
Due: none

chore: removing references and adding mine
  src/components/Footer.astro
  src/components/Giscus.astro
  src/components/Head.astro
  src/components/Header.astro
  src/components/TableOfContents.astro
  src/consts.ts
  src/content/blog/00-markdown-syntax/index.mdx
  src/content/blog/00-markdown-syntax/x-wing.jpeg
  src/content/blog/00-micro-changelog/index.mdx
  src/content/blog/01-getting-started/index.md
  src/content/blog/01-mdx-syntax/component.astro
  src/content/blog/01-mdx-syntax/index.mdx
  src/content/blog/02-blog-collection/index.md
  src/content/blog/03-projects-collection/index.md
  src/content/blog/06-year-sorting-example/index.md
  src/content/blog/07-draft-example/index.md
  src/content/blog/08-prev-next-order-example/index.md
  src/content/projects/project-1/index.md
  src/content/projects/project-2/index.md
  src/content/projects/project-3/index.md
  src/layouts/Layout.astro
  src/lib/utils.ts
  src/pages/404.astro
  src/pages/about/index.astro
  src/pages/blog/[...slug].astro
Due: eslint --fix --cache

chore: adding blog page and made build work
  package.json
  pnpm-lock.yaml
  public/x-wing.jpeg
  src/components/TableOfContents.astro
  src/content/blog/00-markdown-syntax/index.mdx
  src/content/blog/01-mdx-syntax/component.astro
  src/content/blog/01-mdx-syntax/index.mdx
  src/pages/projects/[...slug].astro
Due: pnpm prettier --write

feat: adding icons
  public/icons/curriculum-dark.png
  public/icons/curriculum.png
  public/icons/github-dark.png
  public/icons/github.png
  public/icons/linkedin.png
Due: none

feat: adding brand me img
  public/brand/me.jpg
Due: none

chore: initial md project/blog
  src/content/projects/amamentacao-com-amor/index.md
  src/content/projects/spmp/index.md
Due: none

chore: project v1 - adjusts styles
  astro.config.mjs
  package.json
  src/components/Head.astro
  src/components/Header.astro
  src/components/PageFind.astro
  src/components/TimelineElement.astro
  src/consts.ts
  src/layouts/Layout.astro
  src/pages/about/index.astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/projects/[...slug].astro
  src/pages/projects/index.astro
  src/styles/global.css
  src/types.ts
Due: eslint --fix --cache, pnpm prettier --write

fix: unrelated deps
  pnpm-lock.yaml
Due: pnpm prettier --write
