Repository henriq4/henriquegc.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix --cache"
  ],
  "*.{json,yml,yaml}": [
    "pnpm prettier --write"
  ]
}

chore: add linters scripts
  package.json
Due: pnpm prettier --write

chore: apend all prod source code to src folder
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/public/favicon.ico
  src/public/vercel.svg
  src/styles/Home.module.css
  src/styles/globals.css
Due: eslint --fix --cache

chore: remove next generate page and implement in construction phrase
  public/favicon.ico
  public/vercel.svg
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/Home.module.css
  tsconfig.json
Due: eslint --fix --cache, pnpm prettier --write

feat: version 0.0.1
  package.json
Due: pnpm prettier --write

chore: update readme
  README.md
Due: none

chore: add next build script
  package.json
Due: pnpm prettier --write

fix: setup eslint for tsx files
  .eslintrc
  src/pages/_app.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix --cache, pnpm prettier --write

fix: setup eslint for tsx files
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor: atualizing dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

refactor: implement experimental appdir nextjs feature
  next.config.js
Due: eslint --fix --cache

refactor: apply exaperimental appdir nextjs feature
  src/app/head.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
Due: eslint --fix --cache

refactor: update tsconfig to suport .next folder
  tsconfig.json
Due: pnpm prettier --write

chore: tailwind initial config
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
Due: eslint --fix --cache, pnpm prettier --write

feat: lib folder to shared code and tailwind css config file
  src/app/layout.tsx
  src/lib/styles/global.css
Due: eslint --fix --cache

chore: centralizing page to merge
  src/app/head.tsx
  src/app/page.tsx
Due: eslint --fix --cache

chore: add zod and notion client to provide cms
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

feat: create api route to get notion cms info
  src/app/page.tsx
  src/pages/api/notion.ts
Due: eslint --fix --cache

chore: cms authentication zod model
  src/lib/models/notion/authentication.ts
Due: eslint --fix --cache

chore: cms page content results model
  src/lib/models/notion/blockQuery.ts
  src/lib/models/notion/index.ts
Due: eslint --fix --cache

chore: notion client and primary database id configs
  src/lib/config/notion.ts/index.ts
Due: eslint --fix --cache

chore: create block query objects and return each type and block object in api response
  src/pages/api/notion.ts
Due: eslint --fix --cache

fix: rename notion configuration
  src/lib/config/notion/index.ts
Due: eslint --fix --cache

chore: using main page to fetch notion data - exclude api notion route
  src/app/page.tsx
  src/pages/api/notion.ts
Due: eslint --fix --cache

chore: add id in each notion block response
  src/lib/models/notion/blockQuery.ts
  src/lib/models/notion/index.ts
Due: eslint --fix --cache

chore: initial blog page fetching notion cms database
  src/app/blog/page.tsx
  src/app/page.tsx
Due: eslint --fix --cache

chore: add interfaces contents object models
  src/lib/models/cms/notion/blockQuery.ts
Due: eslint --fix --cache

fix: change cms folder structures
  src/lib/config/cms/notion/index.ts
  src/lib/models/cms/notion/authentication.ts
  src/lib/models/cms/notion/index.ts
  src/lib/models/notion/blockQuery.ts
  src/lib/models/notion/index.ts
Due: eslint --fix --cache

chore: create basic cms original object interface to transforme to html
  src/lib/models/cms/index.ts
Due: eslint --fix --cache

chore: add nodejs local version
  .tool-versions
Due: none

chore: create cms components
  src/lib/components/cms/Code.tsx
  src/lib/components/cms/Heading1.tsx
  src/lib/components/cms/Heading2.tsx
  src/lib/components/cms/Heading3.tsx
  src/lib/components/cms/Paragraph.tsx
  src/lib/components/cms/Quote.tsx
Due: eslint --fix --cache

chore: create article page by slug and list articles
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
Due: eslint --fix --cache

feat: create notion paragraph to index paragraph model
  src/lib/notionToIndex.tsx
Due: eslint --fix --cache

feat: starting creating a new turborepo monorepo
  monorepo/.eslintrc.js
  monorepo/.gitignore
  monorepo/README.md
  monorepo/apps/docs/.eslintrc.js
  monorepo/apps/docs/README.md
  monorepo/apps/docs/next.config.js
  monorepo/apps/docs/package.json
  monorepo/apps/docs/pages/index.tsx
  monorepo/apps/docs/tsconfig.json
  monorepo/apps/web/.eslintrc.js
  monorepo/apps/web/README.md
  monorepo/apps/web/next.config.js
  monorepo/apps/web/package.json
  monorepo/apps/web/pages/index.tsx
  monorepo/apps/web/tsconfig.json
  monorepo/package.json
  monorepo/packages/eslint-config-custom/index.js
  monorepo/packages/eslint-config-custom/package.json
  monorepo/packages/tsconfig/README.md
  monorepo/packages/tsconfig/base.json
  monorepo/packages/tsconfig/nextjs.json
  monorepo/packages/tsconfig/package.json
  monorepo/packages/tsconfig/react-library.json
  monorepo/packages/ui/Button.tsx
  monorepo/packages/ui/index.tsx
  monorepo/packages/ui/package.json
  monorepo/packages/ui/tsconfig.json
  monorepo/pnpm-lock.yaml
  monorepo/pnpm-workspace.yaml
  monorepo/turbo.json
Due: eslint --fix --cache, pnpm prettier --write

chore: moving portfolio app to monorepo app folder
  monorepo/apps/docs/.eslintrc.js
  monorepo/apps/docs/README.md
  monorepo/apps/docs/next.config.js
  monorepo/apps/docs/package.json
  monorepo/apps/docs/pages/index.tsx
  monorepo/apps/docs/tsconfig.json
  monorepo/apps/web/.vscode/settings.json
  monorepo/apps/web/next-env.d.ts
  monorepo/apps/web/next.config.js
  monorepo/apps/web/package.json
  monorepo/apps/web/pages/index.tsx
  monorepo/apps/web/postcss.config.js
  monorepo/apps/web/src/app/head.tsx
  monorepo/apps/web/src/app/layout.tsx
  monorepo/apps/web/src/app/page.tsx
  monorepo/apps/web/src/lib/styles/global.css
  monorepo/apps/web/tailwind.config.js
  monorepo/apps/web/tsconfig.json
Due: eslint --fix --cache, pnpm prettier --write

chore: changing monorepo name
  monorepo/package.json
  monorepo/pnpm-lock.yaml
Due: pnpm prettier --write

chore: set nodejs local version
  .tool-versions
  package.json
Due: pnpm prettier --write

chore: setup eslint and prettier
  .eslintrc
  .eslintrc.js
  .npmrc
  .prettierignore
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

chore: configuring portfolio main app
  apps/portfolio/.vscode/settings.json
  apps/portfolio/README.md
  apps/portfolio/next-env.d.ts
  apps/portfolio/next.config.js
  apps/portfolio/package.json
  apps/portfolio/postcss.config.js
  apps/portfolio/src/app/head.tsx
  apps/portfolio/src/app/layout.tsx
  apps/portfolio/src/app/page.tsx
  apps/portfolio/src/lib/styles/global.css
  apps/portfolio/tailwind.config.js
  apps/portfolio/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/README.md
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/ui/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write

chore: configuring blog app with astro
  apps/blog/.gitignore
  apps/blog/.vscode/extensions.json
  apps/blog/.vscode/launch.json
  apps/blog/README.md
  apps/blog/astro.config.mjs
  apps/blog/package.json
  apps/blog/public/favicon.svg
  apps/blog/public/placeholder-about.jpg
  apps/blog/public/placeholder-hero.jpg
  apps/blog/public/placeholder-social.jpg
  apps/blog/src/components/BaseHead.astro
  apps/blog/src/components/Footer.astro
  apps/blog/src/components/Header.astro
  apps/blog/src/components/HeaderLink.astro
  apps/blog/src/consts.ts
  apps/blog/src/content/blog/first-post.md
  apps/blog/src/content/blog/markdown-style-guide.md
  apps/blog/src/content/blog/second-post.md
  apps/blog/src/content/blog/third-post.md
  apps/blog/src/content/blog/using-mdx.mdx
  apps/blog/src/content/config.ts
  apps/blog/src/env.d.ts
  apps/blog/src/layouts/BlogPost.astro
  apps/blog/src/pages/about.md
  apps/blog/src/pages/blog/[...slug].astro
  apps/blog/src/pages/blog/index.astro
  apps/blog/src/pages/index.astro
  apps/blog/src/pages/rss.xml.js
  apps/blog/src/styles/global.css
  apps/blog/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --cache, pnpm prettier --write
